<div class="container">
    <img src="../../../assets/auth/bgimg.jpg" alt="colors" style="width:100%;">
    <div class="bottom-left"></div>
    <div class="top-left"></div>
    <div class="top-right"></div>
    <div class="bottom-right"></div>
    <div class="centered">
        <div class="card">
            <div class="ccard-header">
                <img class="login-logo w-100" src="../../../assets/login-with/antlogo.png">
            </div>
            <div class="ccard-form">
                <form [formGroup]="loginGroup">
                   
                    <div class="mb-3">
                      <label for="exampleInputEmail1" class="form-label">E-Mail Address</label>
                      <input type="email" class="form-control" id="exampleInputEmail1" formControlName="lemail" aria-describedby="emailHelp">
                      <!-- <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div> -->
                      <div *ngIf="loginGroup.get('lemail')?.invalid && loginGroup.get('lemail')?.touched"
                      class="error">
                      E-Mail Required
                      </div>
                    </div>
                    <div class="mb-3">
                      <label for="exampleInputPassword1" class="form-label">Password</label>
                      <input type="password" class="form-control" id="exampleInputPassword1" formControlName="lpassword">
                      <div *ngIf="loginGroup.get('lpassword')?.invalid && loginGroup.get('lpassword')?.touched"
                      class="error">
                      Password Required
                      </div>
                    </div>
                    <div class="mb-3 form-check">
                      <input type="checkbox" class="form-check-input" id="exampleCheck1"  (change)="rememberMe($event)">
                      <label class="form-check-label" for="exampleCheck1">Remember Me</label>
                    </div>
                   <div class="mb-3">
                    <button type="submit" class="btn btn-primary w-100" (click)="loginNow()">Login</button>
                   </div>
                   <div class="mb-3 fyp">
                    <span><a href="" class="fyp-a">Forgot Your Password?</a></span>
                   </div>
                </form>
            </div>
        </div>
    </div>
</div>