<div class="container">
    <img src="../../../assets/auth/bgimg.jpg" alt="colors" style="width:100%;">
    <div class="bottom-left"></div>
    <div class="top-left"></div>
    <div class="top-right"></div>
    <div class="bottom-right"></div>
    <div class="centered">
        <div class="card">
            <div class="ccard-header">
                <h4>UBOLD</h4>
                <p>Don't have an account? Create your account, it takes less than a minute</p>
            </div>
            <div class="ccard-form">
                <form [formGroup]="registerGroup">
                    <div class="mb-3">
                        <label for="exampleInputName" class="form-label">Name</label>
                        <input type="text" class="form-control" id="exampleInputName" formControlName="rname" aria-describedby="nameHelp"> 
                        <div *ngIf="registerGroup.get('rname')?.invalid && registerGroup.get('rname')?.touched"
                        class="error">
                        Name Required
                        </div>
                    </div>
                    <div class="mb-3">
                      <label for="exampleInputEmail1" class="form-label">E-Mail Address</label>
                      <input type="email" class="form-control" id="exampleInputEmail1" formControlName="remail" aria-describedby="emailHelp">
                      <!-- <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div> -->
                      <div *ngIf="registerGroup.get('remail')?.invalid && registerGroup.get('remail')?.touched"
                      class="error">
                      E-Mail Required
                      </div>
                    </div>
                    <div class="mb-3">
                      <label for="exampleInputPassword1" class="form-label">Password</label>
                      <input type="password" class="form-control" id="exampleInputPassword1" formControlName="rpassword">
                      <div *ngIf="registerGroup.get('rpassword')?.invalid && registerGroup.get('rpassword')?.touched"
                      class="error">
                      Password Required
                      </div>
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputPassword2" class="form-label">Comfirm Password</label>
                        <input type="password" class="form-control" id="exampleInputPassword2" formControlName="rconfirmpassword">
                        <div *ngIf="registerGroup.get('rconfirmpassword')?.invalid && registerGroup.get('rconfirmpassword')?.touched"
                        class="error">
                        Comfirm Password Required
                        </div>
                    </div>
                    <div class="mb-3 form-check">
                      <input type="checkbox" class="form-check-input" id="exampleCheck1"  (change)="termCondition($event)">
                      <label class="form-check-label" for="exampleCheck1">I accept <b>Terms and Conditions</b></label>
                    </div>
                   <div class="mb-3">
                    <button type="submit" class="btn btn-primary w-100" (click)="registerNow()">Register</button>
                   </div>
                </form>
            </div>
            <div class="card-footer">
                <div>
                    <h6>Sign up using</h6>
                </div>
                <div>
                    <img class="slogo-img" src="../../../assets/login-with/facebook.png">
                    <img class="slogo-img" src="../../../assets/login-with/twitter.png">
                    <img class="slogo-img" src="../../../assets/login-with/google.png">
                    <img class="slogo-img" src="../../../assets/login-with/git.png">
                </div>
            </div>
        </div>
        <div class="footer-text">
            <span>Already have account? <b class="footer-text-signin" routerLink="/login">Sign In</b></span>
        </div>
    </div>
</div>