/* Container holding the image and the text */
.container {
    position: relative;
    text-align: center;
    color: white;
  }
  
  /* Bottom left text */
  .bottom-left {
    position: absolute;
    bottom: 8px;
    left: 16px;
  }
  
  /* Top left text */
  .top-left {
    position: absolute;
    top: 8px;
    left: 16px;
  }
  
  /* Top right text */
  .top-right {
    position: absolute;
    top: 8px;
    right: 16px;
  }
  
  /* Bottom right text */
  .bottom-right {
    position: absolute;
    bottom: 8px;
    right: 16px;
  }
  
  /* Centered text */
  .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }


  .card{
    background-color: white;
    width: 30rem;
    height: 100%;
    border-radius: 5px;
  }

  .ccard-header{
    color: black;
    padding: 2rem 5rem 0rem 5rem;
  }

  .ccard-form{
    color: black;
  }

  .error{
    color: red;
  }

  .slogo-img{
    width: 10%;
    cursor: pointer;
  }


  .footer-text{
    margin: 1rem;
  }

  .footer-text-signin{
    cursor: pointer;
  }