<!-- Sidebar -->
<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
        <div class="sidebar-brand-icon rotate-n-15">
            <!-- <i class="fas fa-laugh-wink"></i> -->
        </div>
        <div class="sidebar-brand-text mx-3">ANTINVENTO</div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Heading -->
    <div class="sidebar-heading">
        NAVIGATION
    </div>

    <!-- Nav Item - Dashboard -->
    <li class="nav-item active">
        <a class="nav-link" (click)="goTo('login','')">
            <i class="fa-solid fa-desktop"></i>
            <span>Dashboard</span></a>
    </li>
    <li class="nav-item active">
        <a class="nav-link" (click)="goTo('access-control','access-control-table')">
            <i class="fa-regular fa-note-sticky"></i>
            <span>Access Control</span></a>
    </li>
    <li class="nav-item active">
        <a class="nav-link" (click)="goTo('branches','branches-table')">
            <i class="fa-regular fa-note-sticky"></i>
            <span>Branches</span></a>
    </li>
    <li class="nav-item active">
        <a class="nav-link" (click)="goTo('employee','employee-table')">
            <i class="fa-regular fa-user"></i>
            <span>Employee</span></a>
    </li>
    <li class="nav-item active">
        <a class="nav-link" (click)="goTo('clients','clients-table')">
            <i class="fa-solid fa-people-arrows"></i>
            <span>Clients</span></a>
    </li>
    <li class="nav-item active">
        <a class="nav-link" (click)="goTo('vendors','vendors-table')">
            <i class="fa-solid fa-person-rays"></i>
            <span>Vendors</span></a>
    </li>
    <li class="nav-item active">
        <a class="nav-link" (click)="goTo('category','category-table')">
            <i class="fa-solid fa-person-rays"></i>
            <span>Category</span></a>
    </li>
    <li class="nav-item active">
        <a class="nav-link" (click)="goTo('products','products-table')">
            <i class="fa-solid fa-boxes-stacked"></i>
            <span>Products</span></a>
    </li>
    <li class="nav-item active">
        <a class="nav-link" (click)="goTo('expense','expense-table')">
            <i class="fa-solid fa-indian-rupee-sign"></i>
            <span>Expense</span></a>
    </li>
    <li class="nav-item active">
        <a class="nav-link" (click)="goTo('enquiry','enquiry-table')">
            <i class="fa-regular fa-message"></i>
            <span>Enquiry</span></a>
    </li>
    <li class="nav-item active">
        <a class="nav-link" (click)="goTo('quotation','quotation-table')">
            <i class="fa-regular fa-message"></i>
            <span>Quotation</span></a>
    </li>
    <li class="nav-item active">
        <a class="nav-link" (click)="goTo('sales-order','sales-order-table')">
            <i class="fa-solid fa-boxes-packing"></i>
            <span>Sales Order</span></a>
    </li>
    <li class="nav-item active">
        <a class="nav-link" (click)="goTo('packing-slip','packing-slip-table')">
            <i class="fa-solid fa-boxes-packing"></i>
            <span>Packing Slip</span></a>
    </li>
    <li class="nav-item active">
        <a class="nav-link" (click)="goTo('sales-bill','sales-bill-table')">
            <i class="fa-regular fa-paste"></i>
            <span>Sales Bill</span></a>
    </li>
    <li class="nav-item active">
        <a class="nav-link" (click)="goTo('purchase-order','purchase-order-table')">
            <i class="fa-solid fa-box-open"></i>
            <span>Purchase Order</span></a>
    </li>
    <li class="nav-item active">
        <a class="nav-link" (click)="goTo('purchase-bill','purchase-bill-table')">
            <i class="fa-solid fa-paperclip"></i>
            <span>Purchase Bill</span></a>
    </li>
    <li class="nav-item active">
        <a class="nav-link" (click)="goTo('proforma-invoice','proforma-invoice-table')">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Proforma Invoice</span></a>
    </li>
    <li class="nav-item active">
        <a class="nav-link" (click)="goTo('stock','stock-table')">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Stock</span></a>
    </li>
    <li class="nav-item active">
        <a class="nav-link" (click)="goTo('tickets','tickets-table')">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Tickets</span></a>
    </li>
    <li class="nav-item active">
        <a class="nav-link" (click)="goTo('payments','payments-table')">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Payment</span></a>
    </li>
    <li class="nav-item active">
        <a class="nav-link" (click)="goTo('log-activity','log-activity-table')">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>LogActivity</span></a>
    </li>
    <li class="nav-item active">
        <a class="nav-link" (click)="goTo('work-order','work-order-table')">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Work Order</span></a>
    </li>
    <li class="nav-item active">
        <a class="nav-link" (click)="goTo('bank-reconciliation','bank-reconciliation-table')">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Bank Reconciliation</span></a>
    </li>
    <li class="nav-item active">
        <a class="nav-link" (click)="goTo('debit-note','debit-note-table')">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Debit Note</span></a>
    </li>
    <li class="nav-item active">
        <a class="nav-link" (click)="goTo('credit-note','credit-note-table')">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Credit Note</span></a>
    </li>
    <li class="nav-item active">
        <a class="nav-link" (click)="goTo('ledger','ledger-table')">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Ledger</span></a>
    </li>
    <li class="nav-item active">
        <a class="nav-link" (click)="goTo('company-profile','company-profile-table')">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Company Profile</span></a>
    </li>
    <li class="nav-item active">
        <a class="nav-link" (click)="goTo('change-password','change-password-form')">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Change Password</span></a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Heading -->
    <div class="sidebar-heading">
        OTHER
    </div>

    <li class="nav-item active">
        <a class="nav-link" (click)="goTo('masters','')">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Masters</span></a>
    </li>

    <!-- Divider -->
    <!-- <hr class="sidebar-divider"> -->



    <!-- Nav Item - Pages Collapse Menu -->
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true"
            aria-controls="collapseTwo">
            <i class="fas fa-fw fa-cog"></i>
            <span>Components</span>
        </a>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Custom Components:</h6>
                <a class="collapse-item" href="buttons.html">Buttons</a>
                <a class="collapse-item" href="cards.html">Cards</a>
            </div>
        </div>
    </li>

    <!-- Nav Item - Utilities Collapse Menu -->
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseUtilities"
            aria-expanded="true" aria-controls="collapseUtilities">
            <i class="fas fa-fw fa-wrench"></i>
            <span>Utilities</span>
        </a>
        <div id="collapseUtilities" class="collapse" aria-labelledby="headingUtilities" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Custom Utilities:</h6>
                <a class="collapse-item" href="utilities-color.html">Colors</a>
                <a class="collapse-item" href="utilities-border.html">Borders</a>
                <a class="collapse-item" href="utilities-animation.html">Animations</a>
                <a class="collapse-item" href="utilities-other.html">Other</a>
            </div>
        </div>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading">
        Addons
    </div>

    <!-- Nav Item - Pages Collapse Menu -->
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePages" aria-expanded="true"
            aria-controls="collapsePages">
            <i class="fas fa-fw fa-folder"></i>
            <span>Pages</span>
        </a>
        <div id="collapsePages" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Login Screens:</h6>
                <a class="collapse-item" href="login.html">Login</a>
                <a class="collapse-item" href="register.html">Register</a>
                <a class="collapse-item" href="forgot-password.html">Forgot Password</a>
                <div class="collapse-divider"></div>
                <h6 class="collapse-header">Other Pages:</h6>
                <a class="collapse-item" href="404.html">404 Page</a>
                <a class="collapse-item" href="blank.html">Blank Page</a>
            </div>
        </div>
    </li>

    <!-- Nav Item - Charts -->
    <li class="nav-item">
        <a class="nav-link" href="charts.html">
            <i class="fas fa-fw fa-chart-area"></i>
            <span>Charts</span></a>
    </li>

    <!-- Nav Item - Tables -->
    <li class="nav-item">
        <a class="nav-link" href="tables.html">
            <i class="fas fa-fw fa-table"></i>
            <span>Tables</span></a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider d-none d-md-block">

    <!-- Sidebar Toggler (Sidebar) -->
    <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>

    <!-- Sidebar Message -->
    <div class="sidebar-card d-none d-lg-flex">
        <img class="sidebar-card-illustration mb-2" src="img/undraw_rocket.svg" alt="...">
        <p class="text-center mb-2"><strong>SB Admin Pro</strong> is packed with premium features, components, and more!
        </p>
        <a class="btn btn-success btn-sm" href="https://startbootstrap.com/theme/sb-admin-pro">Upgrade to Pro!</a>
    </div>

</ul>
<!-- End of Sidebar -->