<div id="wrapper">
    <app-sidenav></app-sidenav>
    <div id="content-wrapper" class="d-flex flex-column">
        <!-- Main Content -->
        <div id="content">
            <app-header></app-header>  
            <app-spinner></app-spinner>
            <router-outlet></router-outlet>
        </div>
        <app-footer></app-footer>
    </div>
</div>